{% extends "base.html" %}

{% block tdg_tab_js %}
    //When the delete button is clicked, make a list of
    // checked filenames. Post them to the server, flagged
    // for deletion, and remove corresponding html elements.
    $("#delButton").click( function() {
        checkedFiles = new Array();
        $("[type='checkbox']:checked").each(function() {
            checkedFiles.push(this.id);
            $(this).parent().parent().remove();
        });
        $.post("{{ ROOT }}delete", {'delete':checkedFiles});
    });

    //When the rename button is clicked, for each checked
    // filename display a textbox to the user allowing them
    // to rename checked files.
    $("#renButton").click( function() {
        $("[type='checkbox']:checked").each(function() {
            this.checked = false; //Uncheck checked boxes
            fName = $(this).attr("name");
            $("tr[name='" + fName + "'] > .boxCell").addClass("hide");
            $("tr[name='" + fName + "'] > .labelCell").addClass("noDisplay");
            $("tr[name='" + fName + "'] > .typeCell").addClass("noDisplay");
            $("tr[name='" + fName + "'] > .linkCell").addClass("noDisplay");
            $("tr[name='" + fName + "'] > .inputCell").removeClass("noDisplay");
            $("tr[name='" + fName + "'] > .buttonCell").removeClass("noDisplay");
        });
    });

    //When the user is done renaming a file, post that data
    // to update the server on the change.
    $(".renDone").click( function() {
        //Gather the original filename and the new filename.
        oldName = $(this).attr("name");
        newName = $("tr[name='" + oldName + "'] > .inputCell > input").val();

        if(!(oldName == newName)) {
            //Change some names/values of corresponding HTML elements
            $("label[innerHTML='" + oldName + "']").html(newName);
            $("tr[name='" + oldName + "'] > td.linkCell > a").each( function() {
                $(this).attr("href", $(this).attr("href").replace(oldName, newName));
            });            
            $("td [id='" + oldName + "']").attr('id', newName);
            $("td [value='" + oldName + "']").val(newName);
            $("td label[name='" + oldName + "']").html(newName);
            $("td [name='" + oldName + "']").attr('name', newName);
            $("td [class~='" + oldName + "']").addClass(newName);
            $("td [class~='" + oldName + "']").removeClass(oldName);
            $("tr[name='" + oldName + "']").attr('name', newName);
            
            //Update the server of the name change
            $.post("{{ ROOT }}rename", {'old_name':oldName, 'new_name':newName});
        }

        //Remove the textbox and button, restore the checkbox and links.
        $("tr[name='" + newName + "'] > .boxCell").removeClass("hide");
        $("tr[name='" + newName + "'] > .linkCell").removeClass("noDisplay");
        $("tr[name='" + newName + "'] > .labelCell").removeClass("noDisplay");
        $("tr[name='" + newName + "'] > .typeCell").removeClass("noDisplay");
        $("tr[name='" + newName + "'] > .inputCell").addClass("noDisplay");
        $("tr[name='" + newName + "'] > .buttonCell").addClass("noDisplay");
    });
    
    //Validate generation form arguments
    $("#generationForm").submit( function() {
        //Check to see if the user gave an output filename
        // that is already in use. If so, then prompt to
        // confirm overwrite. Also check for a null filename.
        fname = $("#outputFilename").val();
        if( fname == '' ) {
            alert("Please provide an output file name");
            return false;
        }
        
        if($("[name='" + fname + "']").length != 0) {
            if( !(confirm("Overwrite file " + fname + "?")) ) {
                return false;
            }
        }

        $("*").css("cursor", "wait");
    });
    
    //Recalculate and display the list of arguments that will be sent to
    // the server on a click of the run button. Resize the textbox to
    // the correct width.
    function refreshCurrentCommand(appName) {
        args = appName + " " + getArgList().join(" ")
        $("#currentArgs").html(args);
        $("#argsField").val(args);
    }

{% endblock tdg_tab_js %}

{% block css %}
    <style type="text/css">
        input[type="checkbox"] {margin-top:5px;}
        
        option {font-family: Arial, sans-serif;}
        
        .labelCell > label {
            width: 100%;
            padding-right: 1em;
        }
        
        .typeCell > label {
            width: 100%;
            padding-right: 1em;
        }
        
        .linkCell {width: 30px;}

        div.args div {
            font-weight:bold;
            padding-bottom:10px;
        }
        
        .hide {visibility:hidden;}
        
        .noDisplay {display:none;}
        
        a.fileLinks {
            color:blue;
            cursor:pointer;
        }
    
        #files td {
            height:10px;
            padding: 1px;
        }
        
        #delButton { margin: 3px }
        
        #currentArgs {
            max-width: 500px;
            font-family: monospace;
        }
        
        #argsButton {
            float:none;
        }
    </style>
{% endblock css %}
