<html>
    <head>
		<script type="text/javascript" src="http://www.jqueryui.com/jquery-1.3.2.js"></script>
		<script type="text/javascript" src="http://www.json.org/json2.js"></script>
        <script type="text/javascript">
            //When the DOM loads, activate some event handler functions
            $(document).ready(function() {            
                {% block javascript %}{% endblock %}
                {% block tdg_tab_js %}{% endblock %}
            }
        </script>
        {% block tdg_tab_css %}{% endblock %}
    </head>
    <body>
		<div id="tabs">
            <ul>
                <li><a href="../welcome" id="welcomeTab" class="tab">Welcome</a></li>
                <li><a href="../tdg" id="tdgTab" class="tab">Manage Test Data</a></li>
                <li><a href="../tabulator" id="tabulatorTab" class="tab">Tabulator</a></li>
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
