{% extends "base.html" %}

{% block tdg_tab_js %}
    //When the delete button is clicked, make a list of
    // checked filenames. Post them to the server, flagged
    // for deletion, and remove corresponding html elements.
    $("#delButton").click( function() {
        checkedFiles = new Array();
        $("[type='checkbox']:checked").each(function() {
            checkedFiles.push(this.id);
            $(this).parent().parent().remove();
        });
        $.post("{{ ROOT }}tdg", {'delete':checkedFiles});
    });

    //When the rename button is clicked, for each checked
    // filename display a textbox to the user allowing them
    // to rename checked files.
    $("#renButton").click( function() {
        $("[type='checkbox']:checked").each(function() {
            this.checked = false; //Uncheck checked boxes
            fName = $(this).attr("name");
            $("tr[name="+fName+"] > .boxCell").addClass("hide");
            $("tr[name="+fName+"] > .labelCell").addClass("noDisplay");
            $("tr[name="+fName+"] > .typeCell").addClass("noDisplay");
            $("tr[name="+fName+"] > .yamlCell").addClass("noDisplay");
            $("tr[name="+fName+"] > .xmlCell").addClass("noDisplay");
            $("tr[name="+fName+"] > .inputCell").removeClass("noDisplay");
            $("tr[name="+fName+"] > .buttonCell").removeClass("noDisplay");
        });
    });

    //When the user is done renaming a file, post that data
    // to update the server on the change.
    $("#renDone").click( function() {
        //Gather the original filename and the new filename.
        oldName = $(this).attr("name");
        newName = $("tr[name="+oldName+"] > .inputCell > input").attr("value");

        if(!(oldName == newName)) {
            //Change some names/values of corresponding HTML elements
            $("label[innerHTML="+oldName+"]").attr({innerHTML: newName});
            $("td.yamlCell > a").attr("href", $("td.yamlCell > a").attr("href").replace(oldName, newName));
            $("td.xmlCell > a").attr("href", $("td.xmlCell > a").attr("href").replace(oldName, newName));
            $("[name="+oldName+"]").attr("name", newName);
            $("[id="+oldName+"]").attr({id:newName});

            //Update the server
            $.post("{{ ROOT }}tdg", {'old_name':oldName, 'new_name':newName});
        }

        //Remove the textbox and button, restore the
        // checkbox and links.
        $("tr[name="+newName+"] > .boxCell").removeClass("hide");
        $("tr[name="+newName+"] > .labelCell").removeClass("noDisplay");
        $("tr[name="+newName+"] > .typeCell").removeClass("noDisplay");
        $("tr[name="+newName+"] > .yamlCell").removeClass("noDisplay");
        $("tr[name="+newName+"] > .xmlCell").removeClass("noDisplay");
        $("tr[name="+newName+"] > .inputCell").addClass("noDisplay");
        $("tr[name="+newName+"] > .buttonCell").addClass("noDisplay");
    });
{% endblock tdg_tab_js %}

{% block css %}
    <style type="text/css">
        input[type="checkbox"] {margin-top:5px}
        option {font-family: Arial, sans-serif}
        .labelCell > label {width: 60px}
        .typeCell > label {width: 130px}
        .yamlCell {width: 30px}

        div.args div {font-weight:bold; padding-bottom:10px}
        .hide {visibility:hidden}
        .noDisplay {display:none}
        a.fileLinks {color:blue; cursor:pointer}
    
        #files td {
            height:10px;
            padding: 1px;
        }        
    </style>
{% endblock css %}
