{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #dataTab, #menu li#dataTab:hover {
            border-top:5px solid #6699ff;
        }

        #content {font-family:Monospace}
    </style>
{% endblock css %}

{% block menu %}
    <li id="dataTab"><a href='' class="tab">Data</a></li>
{% endblock menu %}

{% block content %}
    {% autoescape off %}
        {% for line in lines %}
            {{ line }}
        {% endfor %}
    {% endautoescape %}
{% endblock %}
