{% extends "base.html" %}

{% block javascript %}
    // Handle collapseable text functionality
    $("a").click( function() {
        $(this).parent().children("ul").toggle("slow");
        if( $(this).html().indexOf('▼') != -1 ) {
            $(this).html($(this).html().replace('▼', '▶'));
        }
        else {
            $(this).html($(this).html().replace('▶', '▼'));
        }
    });
    
    // Handle a click of the download button
    $("#download").click( function() {
        absolutePath = "{{ ROOT }}".substring(0,"{{ROOT}}".length-1) + window.location.pathname;
        $.post(absolutePath, {'get_file':''}, function(){}, "text" );
    });
{% endblock javascript %}

{% block css %}    
    <style type="text/css">
        #dataTab, #menu li#dataTab:hover {
            border-top:5px solid #6699ff;
        }

        #download {
            background-color:#4dc05e;
            border: 1px solid green;
            color:white;
            font-weight:bold;
            margin-bottom:30px;
            -moz-border-radius:5px;
            -webkit-border-radius: 5px;
            padding:5px;
            width:200px;
            cursor:pointer;
            float:right;
        }

        li, ul {
            font-family: Monospace;
            list-style: none;
            line-height: 0px;
        }

        .file a {
            line-height: 0px;
            font-family: Monospace;
            cursor: pointer;
            font-weight: bold;
        }

        .noDisplay {
            display: none;
        }
        
        .file {
            font-family: Monospace;
            padding:5px;
        }

    </style>
{% endblock css %}

{% block content %}
    <button id="download" value="Download">Download File</button>
{% endblock content %}
