{% extends "files.html" %}

{% block javascript %}
    {{ block.super }}
    path = window.location.pathname;
    //Give the download link a redirect to the currently displayed file
    $("#downloadLink").attr("href", "/download/tab_aggr/" + path.substring(path.indexOf("/merge/") + 7, path.length));
{% endblock javascript %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #log {padding-bottom:30px}
        
        #merged {
            border-top: 1px solid #b2b2b2;
            padding-top: 30px;
        }
    </style>
{% endblock css %}

{% block menu %}
    <li id="dataTab"><a href='' class="tab">Data</a></li>
{% endblock menu %}

{% block content %}
    {{ block.super }}

    <div id="log" class="file">
    {% autoescape off %}
        {% for log_line in log %}
            {{ log_line }}
        {% endfor %}
    {% endautoescape %}
    </div>

    <div id="merged" class="file">
    {% autoescape off %}
        {% for merged_line in merged %}
            {{ merged_line }}
        {% endfor %}
    {% endautoescape %}
    </div>
{% endblock %}
