{% extends "base_tdg_tab.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #mergerTab, #menu li#mergerTab:hover {
            border-top:5px solid #6699ff;
        }
    </style>
{% endblock css %}

{% block javascript %}
    refreshCurrentCommand("merger");
    
    //Post file generation arguments to the server when the
    // user clicks the "run" button.
    $("#argsButton").click( function() {
        //Check to see if the user gave an output filename
        // that is already in use. If so, then prompt to
        // confirm overwrite. Also check for a null filename.
        fname = $("#mergeName").attr("value");
        if( fname == '') {
            alert("Please provide an output file name");
            return;
        }
        if($("input[type='text'][name="+fname+"]").length != 0) {
            if( !(confirm("Overwrite file " + fname + "?")) ) {
                return;
            }
        }

        //If the filename was not already in use, or the
        // user confirmed the overwrite, then post
        // arguments to the server.
        args = JSON.stringify(getArgList())
        $("*").css("cursor", "wait");
        $.post("{{ ROOT }}merger", {'arguments':args}, function() {
            location.reload(true);
        });
    });

    //Gather a list of arguments
    function getArgList() {
        args = new Array();
        fname = $("#mergeName").attr("value");
        idx = $("#templateFile").attr("selectedIndex");
        args.push($("#templateFile > option[index="+idx+"]").attr("value"));
        idx = $("#inputFile1").attr("selectedIndex");
        args.push($("#inputFile1 > option[index="+idx+"]").attr("value"));
        idx = $("#inputFile2").attr("selectedIndex");
        args.push($("#inputFile2 > option[index="+idx+"]").attr("value"));
        args.push(fname);
        return args;
    }
    
    $("#templateFile").change(function(){refreshCurrentCommand("merger");});
    $("#inputFile1").change(function(){refreshCurrentCommand("merger");});
    $("#inputFile2").change(function(){refreshCurrentCommand("merger");});
    $("#mergeName").keyup(function(){refreshCurrentCommand("merger");});
    
{% endblock javascript %}

{% block main %}
    <div id="merge" class="fileGenerator">
        <h2>Merge Files</h2>
        <div class="args">
            <div><label for="templateFile">Template file:</label>
            <select id="templateFile" class="argInputs">
                {% if not template_files %}
                    <option value="null">(None generated)</option>
                {% else %}
                    {% for file in template_files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                {% endif %}
            </select></div>
            <div><label for="inputFile1">Ballot Counter file 1:</label>
            <select id="inputFile1" class="argInputs">
                {% if not merge_files %}
                    <option value="null">(None generated)</option>
                {% else %}
                    {% for file in merge_files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                {% endif %}
            </select></div>
            <div><label for="inputFile2">Ballot Counter file 2:</label>
            <select id="inputFile2" class="argInputs">
                {% if not merge_files %}
                    <option value="null">(None generated)</option>
                {% else %}
                    {% for file in merge_files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                {% endif %}
            </select></div>
            <div><label>Merged output file:</label>
            <input type="text" id="mergeName" class="argInputs" /></div>
            <div><label>Current command:</label><input type="text" id="currentArgs" READONLY/></div>
            <div id="wTest" class="noDisplay"></div>
            <input type="submit" value="Run" id="argsButton" />
        </div>
    </div>

    <div id="mergedfiles" class="fileManager">
        <h2>Manage Merged Files</h2>
        <table id="files">
            {% for file in tab_files %}
                <tr name="{{ file }}">
                    <td class="boxCell"><input type="checkbox" class="fileBoxes" name="{{ file }}" id="{{ file }}" /></td>
                    <td class="labelCell"><label>{{ file }}</label></td>
                    <td class="typeCell"><label>(tabulator-aggregation)</label></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/merge/{{ file }}.yaml">yaml</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/merge/{{ file }}.xml">xml</a></td>
                    <td class="inputCell noDisplay"><input type="text" value={{ file }} class="renText" name="{{ file }}" /></td>
                    <td class="buttonCell noDisplay"><input type="submit" class="renDone" name="{{ file }}" value="Done" /></td>
                </tr>
             {% endfor %}
        </table>
        <div class="fileButtons">
            <input type = "submit" value = "Delete" id = "delButton" />
            <input type = "submit" value = "Rename" id = "renButton" />
        </div>
    </div>
{% endblock main %}

{% block sidebar %}
<p>The Tabulator takes two Ballot Counter Files, checks them for consistency with the Jurisdiction Slate, does other error and consistency checks, and then creates a resultant Ballot Counter Total file.</p>

<p>Ballot Counter Total files can be further combined in a reverse cascade to get to further and further roll ups and an election result.</p>
{% endblock sidebar %}
