{% extends "files.html" %}

{% block menu %}
    <li id="dataTab"><a href='' class="tab">Data</a></li>
{% endblock menu %}

{% block content %}

    <div class="file">
    {% autoescape off %}
        {% for line in lines %}
            {{ line }}
        {% endfor %}
    {% endautoescape %}
    </div>

{% endblock content %}

{% block css %}
    {{ block.super }}

    <style type="text/css">
        table {
            padding: 2em 0em 10em 2em;
        }

        .contest {
            text-align: left;
            font-size: 14px;
            font-weight: bold;
        }

        tr.header {
            height:7em;
        }

        td {
            font-size:9px;
            font-family: Ariel;
            text-align: center;
        }

        td:first-child {
            text-align: left;
        }

        tr.header td {
        }

        tr.header td span {
            font-size:9px;
            font-family: Ariel;
            -webkit-transform: rotate(-90deg); 
            -moz-transform: rotate(-90deg);
        }

    </style>

    <!--[if IE]>
    <style>
        tr.header td span {
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
    </style>
    <![endif]-->

{% endblock css %}
