{% extends "base_tdg_tab.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #mergerTab, #menu li#tabulatorTab:hover {
            border-top:5px solid #6699ff;
        }
    </style>
{% endblock css %}

{% block javascript %}{% endblock javascript %}

{% block main %}{% endblock main %}

{% block sidebar %}
<p>The Tabulator takes two Ballot Counter Files, checks them for consistency with the Jurisdiction Slate, does other error and consistency checks, and then creates a resultant Ballot Counter Total file.</p>

<p>Ballot Counter Total files can be further combined in a reverse cascade to get to further and further roll ups and an election result.</p>
{% endblock %}
