{% extends "base_tdg_tab.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #tabulatorTab, #menu li#tabulatorTab:hover {
            border-top:5px solid #6699ff;
        }
    </style>
{% endblock css %}

{% block javascript %}
    //Post file generation arguments to the server when the
    // user clicks the "run" button.
    $("#argsButton").click( function() {
        idx = $("#templateFiles").attr("selectedIndex");
        template = $("#templateFiles > option[index="+idx+"]").attr("value");        
        idx = $("#mergedFiles").attr("selectedIndex");
        fname = $("#mergedFiles > option[index="+idx+"]").attr("value");        
        $.post("{{ ROOT }}tabulator", {'arguments':[fname, template]}, function() {
            location.reload(true);
        });
    });
{% endblock javascript %}

{% block main %}
    <div id="reportGenerator" class="fileGenerator">
        <h2>Generate Report</h2>
        <div class="args">
            <div><label for="templateFiles">Precinct/Jurisdiction file:</label>
            <select id="templateFiles" class="argInputs">
                {% if not template_files %}
                    <option value="null">(None generated)</option>
                {% else %}
                    {% for file in template_files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                {% endif %}
            </select></div>
            <div><label for="mergedFiles">Previously Merged file:</label>
            <select id="mergedFiles" class="argInputs">
                {% if not no_log_files %}
                    <option value="null">(None generated)</option>
                {% else %}
                    {% for file in no_log_files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                {% endif %}
            </select></div>
        <input type="submit" value="Run" id="argsButton" />
        </div>        
    </div>

    <div id="reportFiles" class="fileManager">
        <h2>Manage Report Files</h2>
        <table id="files">
            {% for file in report_files %}
                <tr name="{{ file }}">
                    <td class="boxCell"><input type="checkbox" class="fileBoxes" name="{{ file }}" id="{{ file }}" /></td>
                    <td class="labelCell"><label>{{ file }}</label></td>
                    <td class="typeCell"><label>(SOVC-report)</label></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tabulator/{{ file }}_report.yaml">yaml</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tabulator/{{ file }}_report.xml">xml</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tabulator/{{ file }}_report.csv">csv</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tabulator/{{ file }}_report_pvt.csv">pvt</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tabulator/{{ file }}_report.html">html</a></td>
                    <td class="inputCell noDisplay"><input type="text" value={{ file }} class="renText" name="{{ file }}" /></td>
                    <td class="buttonCell noDisplay"><input type="submit" class="renDone" name="{{ file }}" value="Done" /></td>
                </tr>
             {% endfor %}
        </table>
        <div class="fileButtons">
            <input type = "submit" value = "Delete" id = "delButton" />
            <input type = "submit" value = "Rename" id = "renButton" />
        </div>
    </div>
{% endblock main %}

{% block sidebar %}
<p>The Tabulator takes two Ballot Counter Files, checks them for consistency with the Jurisdiction Slate, does other error and consistency checks, and then creates a resultant Ballot Counter Total file.</p>

<p>Ballot Counter Total files can be further combined in a reverse cascade to get to further and further roll ups and an election result.</p>
{% endblock sidebar %}
