{% extends "base_tdg_tab.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #tdgTab, #menu li#tdgTab:hover {
            border-top:5px solid #6699ff;
        }
        
        input.posiLeft {
            margin-left:180px;
        }
        
        #dataUpperBound{
            width:4em;
        }
        
    </style>
{% endblock css %}

{% block javascript %}
	console.log({{last_args}})

    //Hide or show the appropriate fields when the user
    // chooses to generate either a jurisdiction/contestlist or
    // random vote counts within the tdg.
    $("#genMode").change( function() {
        idx = $("#genMode").attr("selectedIndex");
        val = $("#genMode > option[index="+idx+"]").attr("value");
        if(val=="jurisdiction" || val=="contestlist") {
            $(".hideUs").addClass('noDisplay');
        }
        if(val=="counts") {
            $(".hideUs").removeClass('noDisplay');
        }
    });

    //Post file generation arguments to the server when the
    // user clicks the "run" button.
    $("#argsButton").click( function() {
        args = new Array();

        //Check to see if the user gave an output filename
        // that is already in use. If so, then prompt to
        // confirm overwrite. Also check for a null filename.
        fname = $("#outputFilename").attr("value");
        if( fname == '' ) {
            alert("Please provide an output file name");
            return;
        }
        if($("[name='+fname+']").length != 0) {
            if( !(confirm("Overwrite file " + fname + "?")) ) {
                return;
            }
        }

        //Gather a list of arguments, the size of which
        // depends on the type of data to generate.
        idx = $("#genMode").attr("selectedIndex");
        val = $("#genMode > option[index="+idx+"]").attr("value");
        args.push(val);
        if( (val=="jurisdiction") || (val=="contestlist") ) {
            args.push(fname);
        }
        if(val=="counts") {
            args.push($("#howMany").attr("value"));
            idx = $("#templateFile").attr("selectedIndex");
            args.push($("#templateFile > option[index="+idx+"]").attr("value"));
            args.push(fname);
        }

        val = $("[name='options'][type='radio']:checked").attr("value");
        if( val == "range" ) {
			upper = $("#dataUpperBound").attr("value")
			args.push("+" + upper)
		}
        else if( val == "allOnes" ) {
			args.push("-1");
		}

        //If the filename was not already in use, or the
        // user confirmed the overwrite, then post
        // arguments to the server.
        args = JSON.stringify(args)
        $.post("{{ ROOT }}tdg", {'arguments_tdg':args}, function() {
            location.reload(true);
        });
    });
    
{% endblock javascript %}

{% block main %}
    <div id="generateTestData" class="fileGenerator">
        <h2>Generate New Files</h2>
        <div class="args">
            <div><label for="genMode">Data type:</label>
            <select id="genMode" class="argInputs">
                <option value="jurisdiction">Jurisdiction Slate</option>
                <option value="contestlist">Precinct Contestlist</option>
                <option value="counts">Ballot Counter Total</option>
            </select></div>
            <div class="hideUs noDisplay"><label>Number of records in file:</label>
                <input type="text" id="howMany" class="argInputs" /></div>
            <div class="hideUs noDisplay"><label for="templateFile">Jurisdiction Slate file:</label>
            <select id="templateFile" class="argInputs">
                {% if not template_files %}
                    <option value="null">(None generated)</option>
                {% else %}
                    {% for file in template_files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                {% endif %}
            </select></div>
            <div><label>Output file name:</label><input type="text" id="outputFilename" class="argInputs" /></div>
            <div class="hideUs noDisplay"><label id="add">Additional options:</label>
                <input type="radio" name="options" value="none" checked="checked"/> None<br />
                <input type="radio" class="posiLeft" name="options" value="range" /> Make all generated vote count values lie between 0 - 
                    <input type="text" id="dataUpperBound" /><br />
                <input type="radio" class="posiLeft" name="options" value="allOnes" /> Make all generated vote count values = 1<br />
            </div>
            <input type="submit" value="Run" id="argsButton" />
        </div>
    </div>

    <div id="generatedFiles" class="fileManager">
        <h2>Manage Test Data</h2>
        <table id="files">
            {% for file in juris_files %}
                <tr name="{{ file }}">
                    <td class="boxCell"><input type="checkbox" class="fileBoxes" name="{{ file }}" id="{{ file }}" /></td>
                    <td class="labelCell"><label>{{ file }}</label></td>
                    <td class="typeCell"><label>(jurisdiction-slate)</label></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tdg/{{ file }}.yaml">yaml</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tdg/{{ file }}.xml">xml</a></td>
                    <td class="inputCell noDisplay"><input type="text" value={{ file }} class="renText" name="{{ file }}" /></td>
                    <td class="buttonCell noDisplay"><input type="submit" class="renDone" name="{{ file }}" value="Done" /></td>
                </tr>
            {% endfor %}
            {% for file in prec_files %}
                <tr name="{{ file }}">
                    <td class="boxCell"><input type="checkbox" class="fileBoxes" name="{{ file }}" id="{{ file }}" /></td>
                    <td class="labelCell"><label>{{ file }}</label></td>
                    <td class="typeCell"><label>(precinct-contestlist)</label></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tdg/{{ file }}.yaml">yaml</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tdg/{{ file }}.xml">xml</a></td>
                    <td class="inputCell noDisplay"><input type="text" value={{ file }} class="renText" name="{{ file }}" /></td>
                    <td class="buttonCell noDisplay"><input type="submit" class="renDone" name="{{ file }}" value="Done" /></td>
                </tr>
            {% endfor %}
            {% for file in bal_files %}
                <tr name="{{ file }}">
                    <td class="boxCell"><input type="checkbox" class="fileBoxes" name="{{ file }}" id="{{ file }}" /></td>
                    <td class="labelCell"><label>{{ file }}</label></td>
                    <td class="typeCell"><label>(ballot-counter-total)</label></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tdg/{{ file }}.yaml">yaml</a></td>
                    <td class="linkCell"><a href="{{ ROOT }}data/tdg/{{ file }}.xml">xml</a></td>
                    <td class="inputCell noDisplay"><input type="text" value={{ file }} class="renText" name="{{ file }}" /></td>
                    <td class="buttonCell noDisplay"><input type="submit" class="renDone" name="{{ file }}" value="Done" /></td>
                </tr>
            {% endfor %}
        </table>
    <div class="fileButtons">
        <input type = "submit" value = "Delete" id = "delButton" />
        <input type = "submit" value = "Rename" id = "renButton" />
    </div>
{% endblock main %}

{% block sidebar %}
    <p>Use this page to generate and manage new test data files.</p>

    <p>On the drop down to the left you can choose the kind of BallotInfo file that will be generated. The files are listed
     in the section below for your inspection, either in yaml or xml format.</p>
{% endblock %}
