{% extends "files.html" %}

{% block javascript %}
	{{ block.super }}
	path = window.location.pathname;
	//Give the download link a redirect to the currently displayed file
    $("#downloadLink").attr("href", "/download/templates/" + path.substring(path.indexOf("/tdg/") + 5, path.length));
{% endblock javascript %}

{% block menu %}
    <li id="dataTab"><a href='' class="tab">Data</a></li>
{% endblock menu %}

{% block content %}
    {{ block.super }}

    <div class="file">
    {% autoescape off %}
        {% for line in lines %}
            {{ line }}
        {% endfor %}
    {% endautoescape %}
    </div>

{% endblock %}
