{% extends "base.html" %}

{% block css %}
    <style type="text/css">
        #welcomeTab, #menu li#welcomeTab:hover {
            border-top:5px solid #6699ff;
        }
    </style>
{% endblock css %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida, dolor convallis interdum condimentum, augue ligula tincidunt augue, eu mollis quam metus in orci. Nulla facilisi. Donec elit dui, ultrices in convallis id, ultricies at ligula. Proin vestibulum, diam ut convallis ultricies, magna turpis interdum ipsum, non auctor orci metus id mauris. Nunc dignissim ipsum sit amet mauris sollicitudin volutpat. Nullam dapibus justo in libero vulputate euismod. Quisque adipiscing pretium velit, non placerat leo mollis ut. Donec eget libero sapien, a facilisis lorem. Aliquam luctus porta risus. Mauris in odio nisi. Praesent fringilla, libero eu laoreet semper, diam ante dictum mi, quis dignissim sem lacus eu justo.</p>
{% endblock %}
