{% extends "base.html" %}

{% block css %}
    <style type="text/css">
        #welcomeTab, #menu li#welcomeTab:hover {
            border-top:5px solid #6699ff;
        }

        div#login {
            margin-left:180px;
            margin-top:20px;
        }

        #login div {
            margin-top:10px;
        }

        label {
            font-weight:bold;
            line-height:18px;
            width:80px;
        }
    </style>
{% endblock css %}

{% block main %}
<h1>Welcome to Trust The Vote</h1>

<p>These few pages demonstrate some of the early software models that we are developing. Some of this software is destined to run inside of stand-alone devices which would make it hard to show to a wide audience. For this reason we are providing this site to show and tell about our early results.</p>

<p>Please talk to your Trust The Vote contact for a password</p>

<div id="login">
    <form>
        <div><label>Your Email</label> <input type="text"/></div>
        <div><label>Password</label> <input type="text"/></div>
    </form>
</div>

{% endblock %}

{% block sidebar %}
<p>Trust The Vote is a project of the Open Source Digital Voting Foundation. All our work is public and open source. The only reason we require a password is so that we can get to know folks who are interested in our work.</p>

<p>If you would like access, please make contact with us and info@trustthevote.org and we will be glad to supply one, ASAP.</p>
{% endblock %}
